#houseCreated{
    background-color: rgb(102 189 86 / 50%);
    border: green 2px solid;
    border-radius: 10px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}


#houseCreated p{
    text-align: center;
    font-weight: bold;
    color: darkgreen;
}

#houseCreated a:hover{
    cursor: pointer;
}

#houseNotCreated{
    background-color:#ff7979;
    border: rgb(146, 4, 4) 2px solid;
    border-radius: 10px;
    width:50%;
    margin-left: auto;
    margin-right: auto; 
}

#houseNotCreated p{
    text-align: center;
    font-weight: bold;
    color: darkred;
}