.dashboardOverview {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-content: space-around;
    height: 400px;
    margin-top: 10%;
  }
  
  .dashboardOverview .dashLink {
    width: 40%;
    text-align: center;
    margin-left: 6%;
    margin-bottom: 5%;
    height: 50%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 2%;
  }

  .dashLinkCard img {
    width: 23%;
    margin-top: 5%;
  }
  
  .dashLinkHouse {
  
    background-color: #238756;
  }
  
  .dashLinkEvent {
    background-color: #F28830;
  }
  
  .dashLinkRequest {
    background-color: #CD5C5C;
  }
  