.editSpan{
	color: black;
}

#houseEdited{
    background-color: rgb(102 189 86 / 50%);
    border: green 2px solid;
    border-radius: 10px;
    width:50%;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
}


#houseEdited p{
    text-align: center;
    font-weight: bold;
    color: darkgreen;
}


#houseNotEdited{
    background-color:#ff7979;
    border: rgb(146, 4, 4) 2px solid;
    border-radius: 10px;
    width:50%;
    margin-left: auto;
    margin-right: auto; 
}

#houseNotEdited p{
    text-align: center;
    font-weight: bold;
    color: darkred;
}