.eventRow {
    background-color: white;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    border: 1px solid lightgray;
    padding: 0.5%;
    overflow: hidden;
    list-style: none;
    margin-bottom: 0.5%;
  
  }
  
  .eventRow span {
    width: 80%;
  }
  
  .eventRow:nth-child(even){
  border-left: 5px solid #1d3f72;
  }
  
  .eventRow:nth-child(odd){
    border-left: 5px solid #5699d2;
  }
  
  .confirmEvent {
    background-color: #44c767;
    border-radius: 6px;
    border: 1px solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 0.9rem;
    padding: 0.5%;
    float: right;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
  }
  
  .confirmEvent:hover {
    background-color: #387718;
  }
  
  .confirmEvent:active {
    position: relative;
    top: 1px;
  }

  #eventOverview{
    margin-top: 5%;
  }
  
  .loadingEvents{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .loadingEvents figcaption{
    font-weight: bold;
  }

  .eventHouseName{
    font-weight: bold;
  }

  .eventDamage{
    font-weight: bold;
    color:#1d3f72;
  }

  .flex{
    display:flex;
  }