.footer {
    grid-area: footer;
    background-color: #648ca6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #4F5D75;
  }
  