.houseOverview {
  list-style-type: none;
  margin-top: 3%;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}

.houseLink {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  padding: 1%;
  overflow: hidden;
}

.addButtons {
  margin-left: 3%;
  margin-top: 2%;
}

.addButtons a:first-child {
  margin-right: 3%;

}

.addButtons button {
  background-color: rgb(59, 105, 204);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 3px;
}

.addButtons button:hover {
  cursor: pointer;
}

.addButtons button:first-child {
  margin-left: 2%;
}

.sectorView {
  width: 45%;
  margin-bottom: 3%;

}

.sectorView ul {
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.sectorView h2 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sectorView:nth-child(even) {
  margin-left: 2%;
}

.sectorView ul {
  margin: 0;
  padding: 0;
}

.sectorView h2 {
  margin: 0;
  text-align: center;
  color: white;
  padding: 1%;
}

.sectorView1 h2 {
  background-color: #238756;
}

.sectorView2 h2 {
  background-color: #CD5C5C;
}

.sectorView3 h2 {
  background-color: rgb(82, 82, 202);
}

.sectorView4 h2 {
  background-color: rgb(175, 113, 31);

}

.actionButtons {
  display: inline;
  float: right;
  width: 70px;
}

.actionButtons img {
  width: 25px;
  padding: 6%;
  display: inline;
  border-radius: 2px;
}

.editButton {
  background-color: rgb(59, 105, 204);
  margin-right: 2%;
}

.deleteButton {
  background-color: #d83232;
}

.deleteButton:hover {
  cursor: pointer;
}