.houseDetails {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 90%;
    padding: 1%;
    border-radius: 12px;
  }
  
  .houseName {
    margin-top: 1%;
    margin-bottom: 0;
    color: #1d3f72;
  }
  
  .sectorName {
    margin-top: 0%;
  }
  
  .detailOverview {
    margin-top: 5%;
  }
  
  
  .statusPercentage {
    width: 30%;
    margin-left: 2%;
  }
  
  .personIcon {
    width: 2%;
  }

  .CircularProgressbar .CircularProgressbar-path{
    stroke: #1d3f72 ;
  }
  .CircularProgressbar .CircularProgressbar-text{
    font-weight: bold;
    fill: #1d3f72;
  }

  .locValue{
    font-weight: bold;
    color:#1d3f72;
  }

  .partList{
    list-style-type: none;
    background-color: #f1f1f1;
    width: 40%;
    border-radius: 5px;
    padding: 3px;
  }
  .partRow{
    font-weight: bold;
    color: #1d3f72;
   margin-bottom: 0.5%;
  
  }