#map {
    height: 450px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  
  }
  
  .poly1 {
    stroke: #238756;
    fill: #238756;
  }
  
  .poly2 {
    stroke: #CD5C5C;
    fill: #CD5C5C;
  }
  
  .poly3 {
    stroke: rgb(82, 82, 202);
    fill: rgb(82, 82, 202);
  }
  
  .poly4 {
    stroke: rgb(175, 113, 31);
    fill: rgb(175, 113, 31);
  }