.sidenav {
    grid-area: sidenav;
    background-color: #394263;
}

.sidenav {
    display: flex;
    /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
    background-color: #2D3142;
}

.sidenav__list {
    padding: 0;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.navFigure {
    display: flex;
    align-items: center;
}

.navFigure img {
    width: 30%;
}

.navFigure figcaption {
    color: white;
    margin-left: 2%;
    font-size: 1.3rem;
}