.requestInfo{
    margin-left: 3%;
  }
  
  .requestInfo figure{
    display: flex;
    align-items: center;
  }
  
  .requestInfo figure:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
    margin-left: 6%;
  }
  
  .requestInfo figure img{
    width: 2%;
  }
  
  .requestInfo figcaption{
    display: inline;
    margin-left: 1%;
  }
  
  .requestInfo .requestHouse{
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .requestInfo .requestHouse img{
    width: 5%;
  }
  
  .requestView {
    border-collapse: collapse;
    margin-left: auto;
  }
  
  .requestView table{
    margin-left: 3%;
      width: 50%;
  }
  
  .requestView td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .requestView tr{
    background-color:white;
  }
  
  
  .requestView th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    text-align: left;
    background-color: #1d3f72;
    color: white;
  }
  