.requestRow:nth-child(even) {

    border-left: 5px solid #1d3f72;
    ;
}

.requestRow:nth-child(odd) {
    border-left: 5px solid #5699d2;
}

.requestRow {
    background-color: white;
    width: 78%;
    font-size: 1.2rem;
    border: 1px solid lightgray;
    padding: 1%;
    overflow: hidden;
    display: flex;
    margin-bottom: 0.5%;
}

.requestRow .requestDate {
    margin-left: auto;
}